In [2]:
print("hello , pythoon full stack students")

hello , pythoon full stack students

In [3]:
print("my name is syed irshad")

my name is syed irshad

In [4]:
print(" i am the cr of my class")

 i am the cr of my class

In [8]:
name= "syed irshad"
age=19
gpa=9.5
is_student=True
print(name, age, gpa, is_student)

syed irshad 19 9.5 True

In [ ]:
name=""

In [12]:
x = 18
y = 9.9
z = "syed irshad"
flag = False

print(type(x), type(y), type(z), type(flag) )

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [14]:
name ="syedirshad"
college = "Avinash"
language = "english"

print (name , college , language)

syedirshad Avinash english

In [16]:
DOB = 2006
year = 2025
DOB-year

-19

In [18]:
movie="pk"
release_year=2007
rating=9
print(movie, release_year, rating)

pk 2007 9

In [21]:
a=50
b=5
print("addtion:",a+b)
print("division:",a/b)
print("Floor division:",a//b)
print("power:",a ** b)

addtion: 55
division: 10.0
Floor division: 10
power: 312500000

In [25]:
a = 10
b = 20

print(a>b)
print(a == 10)
print(a<b)

False
True
True